.App {
  text-align: center;
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

.App span {
  font-family: 'Courier New', Courier, monospace;
  font-size: 15vw;
  font-weight: 700;
}

.subTitle {
  font-size: 3vw;
  font-family: monospace;
}

.subTitle span{
  font-size: 1em;

}